/*Fonts*/

/*Colors*/
$principal-color:black  ;
$alternative-color:orange;
$Danger-color:blue;

/*Sizes*/
$size-a: 2px; 
$size-b: 4px; 
$size-c: 6px; 
$size-d: 8px; 
$size-e: 10px; 
$size-f: 12px;    
$size-g: 14px;
$size-h: 16px;
$size-i: 18px;
$size-j: 20px;
$size-k: 22px;
$size-l: 24px;
$size-m: 26px;
$size-n: 28px;
$size-o: 30px;
$size-p: 32px;
$size-q: 34px;
$size-r: 36px;
$size-s: 38px;
$size-t: 40px;

/*Margin and Padding*/
$mp-a: 0px;
$mp-b: 2px;
$mp-c: 4px;
$mp-d: 6px;
$mp-e: 8px;
$mp-f: 10px;
$mp-g: 12px;
$mp-h: 16px;
$mp-i: 20px;
$mp-j: 24px;
$mp-k: 32px;
$mp-l: 40px;
$mp-m: 48px;
$mp-n: 64px;
$mp-o: 80px;
$mp-p: 96px;
$mp-q: 128px;
$mp-r: 160px;
$mp-s: 192px;
$mp-t: 224px;
$mp-v: 256px;
$mp-w: 320px;
$mp-x: 480px;
$mp-y: 640px;

/*Width and Height*/