#appointment-patient {
    .body-paient{
        margin-left: $mp-m;
        margin-right: $mp-m;
        height: fit-content;
        p {
            margin: 0;
        }
       
    }
    #footer{
        position: absolute;
    }
}


