.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $mp-x;
    margin-bottom: $mp-j;
    .card {
        width: $mp-y;
        border: none;
        .title {
            height: $mp-o;
            display: flex;
            align-items: center;
            justify-content: center;
            .title-name {
                font-size: $size-j;
                height: $mp-m;
                width: $mp-w;
                text-align: center;
                .saludo {
                    font-size: $size-p;
                    color: nth($blue, 1);
                }
            }
        }
        .body-card {
            height: $mp-v;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .card-img {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: $mp-r;
                height: $mp-s;
                margin-right: $mp-m;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('https://user-images.githubusercontent.com/56218293/111500987-dbcb6d00-8744-11eb-8e4d-da57326baf22.png');
            }
            .data {
                width: $mp-r;
                height: $mp-s;
                // padding-left: $mp-a;
                .data-ul {
                    width: $mp-w;
                    padding-left: $mp-a;
                    list-style: none;
                    .data-li{
                        .data-li-icon{
                            color: nth($blue, 1);
                            margin-right: $mp-f;
                        }
                    }
                }
            }
        }
    }
}