.image {
   width: $mp-v;
   height: $mp-v;

   border: $mp-c nth($grey, 5)
}

.img {
    width: $mp-v;
    height: $mp-v;

    position: absolute; 
}
.card-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}