#header > div {
    height: $mp-q;
    box-sizing: border-box;
    float: left;
}

#header{
    height: $mp-r;
    padding-top: $mp-f;
    padding-bottom: $mp-n;
    text-align: center;
    & .img{
        background-image: url("../img/tisdenLogo.png");
        background-size: $mp-r;
        background-repeat: no-repeat;
        left: $mp-k;
        position: relative;
        background-color: transparent;
    }
}

/*Menu*/

.menu-list {
    display: grid;
    grid-auto-columns: max-content;
    top: $mp-m;
}

.menu-list-ul{
    list-style: none;
    display: flex;
    position: relative;
    padding-left: $mp-a;
    top: $mp-n;
    font-size: $mp-i;
    & .menu-list-ul-li {
        padding-right: $mp-l;
        & a{
            text-decoration: none;
        }
    }
}

/**/

.buttons {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 16px;
    & .button-register {
        color: nth($fontColor,1);
        @include principal-button(nth($btnBlue,1), nth($btnBlue,2), nth($btnBlue,3));
    }
    & .button-login {
        color: nth($btnBlue, 1);
        @include alternative-button(nth($btnBlue,1), nth($btnBlue,2));
    }
}

.button1, .button2 {
    float: right;
}
