.card-img-top {
    background-image: url('https://images.pexels.com/photos/4202922/pexels-photo-4202922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.img-profesional{
    background-image: url('https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.img-install{
    background-image: url('https://images.pexels.com/photos/305568/pexels-photo-305568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.img-about{
    background-image: url('https://images.pexels.com/photos/3845759/pexels-photo-3845759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.card-body-principal{
    border: none;
    .card-img-top{
        height: $mp-x;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.card-body-secundary{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.img-profesional,
.img-install,
.img-about {
    width: $mp-w;
    height: $mp-s;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}