/*Utilities*/
/*Fonts*/
/*Colors*/
/*Sizes*/
/*Margin and Padding*/
/*For Grid*/
#header.cell-1 > div {
  width: 100%; }

#footer.cell-1 > div {
  width: 100%; }

#header.cell-2 > div {
  width: 50%; }

#footer.cell-2 > div {
  width: 50%; }

#header.cell-3 > div {
  width: 33.33333%; }

#footer.cell-3 > div {
  width: 33.33333%; }

#header.cell-4 > div {
  width: 25%; }

#footer.cell-4 > div {
  width: 25%; }

#header.cell-5 > div {
  width: 20%; }

#footer.cell-5 > div {
  width: 20%; }

#header.cell-6 > div {
  width: 16.66667%; }

#footer.cell-6 > div {
  width: 16.66667%; }

/*Components*/
#header > div {
  height: 128px;
  box-sizing: border-box;
  float: left; }

#header {
  height: 160px;
  padding-top: 10px;
  padding-bottom: 64px;
  text-align: center; }
  #header .img {
    background-image: url(https://user-images.githubusercontent.com/56218293/111041917-f3e87700-843a-11eb-8e2c-44b49df18c92.png);
    background-size: 160px;
    background-repeat: no-repeat;
    left: 32px;
    position: relative;
    background-color: transparent; }

/*Menu*/
.menu-list {
  display: grid;
  grid-auto-columns: max-content;
  top: 48px; }

.menu-list-ul {
  list-style: none;
  display: flex;
  position: relative;
  padding-left: 0px;
  top: 64px;
  font-size: 20px; }
  .menu-list-ul .menu-list-ul-li {
    padding-right: 40px; }
    .menu-list-ul .menu-list-ul-li a {
      text-decoration: none; }

/**/
.buttons {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 16px; }
  .buttons .button-register {
    color: #ffffff;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 4px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 10px;
    text-decoration: none;
    margin: 8px; }
  .buttons .button-login {
    color: #3d94f6;
    border-radius: 4px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 10px;
    text-decoration: none;
    margin: 8px; }

.button1, .button2 {
  float: right; }

#header .buttons {
  height: fit-content; }
  #header .buttons .button-exit {
    color: #ffffff;
    background: linear-gradient(to bottom, #f24537 5%, #d02718 100%);
    background-color: #f24537;
    border-radius: 4px;
    border: 1px solid #c62d1f;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 10px;
    text-decoration: none;
    margin: 8px; }

#footer > div {
  height: 48px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  width: 130px; }

#footer {
  height: 128px;
  display: flex;
  align-items: center; }
  #footer .footer-box {
    font-size: 14px; }
    #footer .footer-box p {
      margin-bottom: 0; }

.body-data .form-data {
  width: 700px;
  height: auto;
  margin-left: auto;
  margin: 20px auto 80px auto; }

.table.table-medical-record {
  width: 640px;
  margin: 48px auto 224px auto;
  text-align: center; }
  .table.table-medical-record .medical-record-reason {
    text-align: left; }

#footer {
  position: absolute;
  width: 100%; }

/*Views*/
#body {
  height: auto; }
  #body .img {
    background-image: url(https://user-images.githubusercontent.com/56218293/111041999-635e6680-843b-11eb-8d7c-59815ed51e71.jpeg);
    height: 640px;
    background-size: 100%;
    background-attachment: fixed;
    overflow: scroll; }
  #body .connect {
    height: 224px;
    width: 480px;
    margin: 64px auto 64px auto;
    text-align: center;
    align-content: center;
    display: grid; }
    #body .connect .tittle {
      font-size: 38px;
      color: #1E90FF; }
    #body .connect .description {
      font-size: 24px; }
    #body .connect .button {
      color: #3d94f6;
      border-radius: 4px;
      border: 1px solid #337fed;
      display: inline-block;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      padding: 4px 10px;
      text-decoration: none;
      margin: 8px;
      margin-left: auto;
      margin-right: auto; }

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 480px; }
  .box .card {
    height: 320px 640px;
    width: 800px;
    background-color: #3CB371; }
    .box .card .title {
      height: 80px;
      background-color: #FFFACD;
      display: flex;
      align-items: center;
      justify-content: center; }
      .box .card .title .title-name {
        height: 48px;
        width: 256px;
        background-color: #98FB98; }
  .box .body-card {
    height: 256px;
    background-color: #FFA07A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .box .body-card .card-img {
      height: 256px;
      width: 256px;
      background-color: #CD5C5C;
      display: flex;
      align-items: center;
      justify-content: center; }
      .box .body-card .card-img .img {
        width: 60px; }
    .box .body-card .data {
      width: 256px;
      height: 192px;
      background-color: #FAFAD2; }

.img {
  background-image: url(https://statics.vrutal.com/m/6fc7/6fc72981d8c8ffefc9116025380b363c.jpg); }
