#footer> div {
    height: $mp-m;
    box-sizing: border-box;
    float: left;
    text-align: center;
    width: 130px;
    
}

#footer {
    display: flex;
    align-items: center;
    background-color: $alternative-color;
    // position: unset !important;
    width: 100%;
    height: $mp-r;
    position: relative !important;
    bottom: 0;
    left: 0;
    .footer-box{
        font-size: $size-g;
        p{
            margin-bottom: 0;
        }
    }
}
